<!-- Wappler include head-page="layouts/userauth/login" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="userauth/login" appConnect="local" components="{dmxNotifications:{},dmxBrowser:{},dmxStateManagement:{},dmxValidator:{},dmxBootstrap5Modal:{},dmxBootbox5:{},dmxFormatter:{}}" jquery_slim_35="local" moment_2="local" -->
<link href="/css/userauth/login.css" rel="stylesheet" />
<meta content="/userauth/login" name="ac:route">
<div id="browser" is="dmx-browser">
</div>
<dmx-cookie-manager id="cookies">
</dmx-cookie-manager>
<dmx-notifications id="notify" timeout="500">
</dmx-notifications>
<dmx-serverconnect id="get_info" url="/api/userauth/account/info">
</dmx-serverconnect>
<dmx-value dmx-bind:value="get_info.data.roles.values('role').contains('admin')" id="is_admin">
</dmx-value>
<dmx-value dmx-bind:value="(get_info.data.identity?true:false)" id="is_user">
</dmx-value>
<div class="d-flex" fid="2:125" id="login">
    <div fid="1:45" fname="Login Box" id="_1_45">
        <div fid="I1:45;11:4152" fname="Input Fields Box" id="_I1_45-11_4152">
            <div fid="I1:45;11:4152;11:3829" fname="Input Fields Box - Base" id="_I1_45-11_4152-11_3829">
                <dmx-value fid="I1:45;11:4152;11:3829;44:1122" id="var_error_message">
                </dmx-value>
                <span fid="I1:45;11:4152;11:3829;11:2113" fname="Title" id="_I1_45-11_4152-11_3829-11_2113">
                    Login
                </span>
                <header dmx-text="'<%=_('$_ENV.USERAUTH_LOGIN_MESSAGE',locals)%>'" fid="I1:45;11:4152;11:3829;11:2114" id="message">
                    Description text goes here here here here here here here here here here here here here
                </header>
                <form action="/api/<% if($_ENV.USERAUTH_LOGIN_API){ %><%=_('$_ENV.USERAUTH_LOGIN_API',locals)%><% } else { %>userauth/account/login<% } %>" dmx-on:forbidden="var_error_message.setValue(lastError.response)" dmx-on:invalid="var_error_message.setValue('Please check all fields')" dmx-on:success="browser.goto(query.return?query.return:'<% if($_ENV.USERAUTH_LOGIN_SUCCESS_PAGE){ %><%=_('$_ENV.USERAUTH_LOGIN_SUCCESS_PAGE',locals)%><% } else { %>/<% } %>')" dmx-on:unauthorized="var_error_message.setValue('Login credentials are incorrect')" fid="I1:45;11:4152;11:3829;8:155" id="form" is="dmx-serverconnect-form" method="post">
                    <input class="form-control" fid="I1:45;11:4152;11:3829;61:4999" id="input" name="input" placeholder="input [hidden|ignore]" type="hidden">
                    <div fid="I1:45;11:4152;11:3829;106:746" fname="Frame 31" id="_I1_45-11_4152-11_3829-106_746">
                        <div fid="I1:45;11:4152;11:3829;9:237" fname="Input field with label" id="_I1_45-11_4152-11_3829-9_237">
                            <span fid="I1:45;11:4152;11:3829;9:237;9:234" fname="Label" id="_I1_45-11_4152-11_3829-9_237-9_234">
                                Email
                            </span>
                            <div fid="I1:45;11:4152;11:3829;9:237;9:235" fname="Input field" id="_I1_45-11_4152-11_3829-9_237-9_235">
                                <input fid="I1:45;11:4152;11:3829;9:237;9:235;9:232" id="username" name="username" placeholder="Enter your email" type="text">
                            </div>
                        </div>
                        <div fid="I1:45;11:4152;11:3829;10:232" fname="Input field with label" id="_I1_45-11_4152-11_3829-10_232">
                            <span fid="I1:45;11:4152;11:3829;10:232;9:234" fname="Label" id="_I1_45-11_4152-11_3829-10_232-9_234">
                                Password
                            </span>
                            <div fid="I1:45;11:4152;11:3829;10:232;9:235" fname="Input field" id="_I1_45-11_4152-11_3829-10_232-9_235">
                                <input dmx-on:keypress.enter="form.submit()" fid="I1:45;11:4152;11:3829;10:232;9:235;9:232" id="password" name="password" placeholder="Enter your password" type="password">
                            </div>
                        </div>
                        <div fid="I1:45;11:4152;11:3829;9:253" fname="Remember and forget box" id="_I1_45-11_4152-11_3829-9_253">
                            <div class="d-flex" dmx-on:click="remember.setValue(!remember.value)" fid="I1:45;11:4152;11:3829;9:254" id="Checkbox">
                                <input class="form-control" fid="I1:45;11:4152;11:3829;9:254;103:612" id="remember" name="remember" placeholder="remember [hidden:0]" type="hidden">
                                <div fid="I1:45;11:4152;11:3829;9:254;19:788" fname="Checkboxes" id="_I1_45-11_4152-11_3829-9_254-19_788">
                                    <span class="d-flex" dmx-hide="remember.value" fid="I1:45;11:4152;11:3829;9:254;21:926" id="Unchecked">
                                        ☐
                                    </span>
                                    <span class="d-flex" dmx-show="remember.value" fid="I1:45;11:4152;11:3829;9:254;22:916" id="Checked">
                                        ☒
                                    </span>
                                </div>
                                <div fid="I1:45;11:4152;11:3829;9:254;105:673" fname="Frame 30" id="_I1_45-11_4152-11_3829-9_254-105_673">
                                    <span fid="I1:45;11:4152;11:3829;9:254;19:791" fname="Remember me" id="_I1_45-11_4152-11_3829-9_254-19_791">
                                        Remember me
                                    </span>
                                </div>
                            </div>
                            <a dmx-bind:href="'userauth/password-reset-request'" fid="I1:45;11:4152;11:3829;9:255_link" id="Forgot_password_link">
                                <header class="d-flex" fid="I1:45;11:4152;11:3829;9:255" id="Forgot_password">
                                    FORGOT PASSWORD
                                </header>
                            </a>
                        </div>
                    </div>
                    <div dmx-bind:condition="<%=_('$_ENV.RECAPTCHA_SITE_KEY',locals)%>" fid="I1:45;11:4152;11:3829;9:198" id="Recaptcha" is="dmx-if">
                        <div fid="I1:45;11:4152;11:3829;9:198;107:2685" fname="Add top and bottom padding" id="_I1_45-11_4152-11_3829-9_198-107_2685">
                            <div class="g-recaptcha" data-sitekey="<%=_('$_ENV.RECAPTCHA_SITE_KEY',locals)%>" fid="I1:45;11:4152;11:3829;9:198;46:3593" id="Recaptcha_box">
                            </div>
                        </div>
                    </div>
                    <div fid="I1:45;11:4152;11:3829;106:2233" fname="Frame 32" id="_I1_45-11_4152-11_3829-106_2233">
                        <div fid="I1:45;11:4152;11:3829;29:658" fname="Message box" id="_I1_45-11_4152-11_3829-29_658">
                            <header dmx-text="var_error_message.value" fid="I1:45;11:4152;11:3829;8:160" id="error_message">
                                Message goes here
                            </header>
                        </div>
                        <div class="d-flex" dmx-on:click="form.submit()" fid="I1:45;11:4152;11:3829;9:270" id="submit">
                            <span fid="I1:45;11:4152;11:3829;9:270;9:269" fname="Press" id="_I1_45-11_4152-11_3829-9_270-9_269">
                                SUBMIT
                            </span>
                        </div>
                    </div>
                </form>
                <div dmx-bind:condition="'<%=_('$_ENV.USERAUTH_DISABLE_REGISTRATIONS',locals)%>'.lowercase()!='true'" fid="I1:45;11:4152;11:3829;11:4675" id="Register_footer" is="dmx-if">
                    <span fid="I1:45;11:4152;11:3829;11:4676" fname="Don’t have an account?" id="_I1_45-11_4152-11_3829-11_4676">
                        Don’t have an account?
                    </span>
                    <a dmx-bind:href="'userauth/register'" fid="I1:45;11:4152;11:3829;11:4677_link" id="Register_link">
                        <header class="d-flex" fid="I1:45;11:4152;11:3829;11:4677" id="Register">
                            REGISTER
                        </header>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>